BorderPane{
    -fx-padding: 20;
    -fx-padding-right: 50%;
}

#gridPrincipale{
    -fx-max-height: 800;
    -fx-max-width: 800;
    -fx-min-height: 300;
    -fx-min-width: 300;
    -fx-margin-right: 30;
    -fx-grid-lines-visible: true;
    -fx-alignment: CENTER;
}

.black{
    -fx-background-color: black;
}

.white{
    -fx-background-color: white;
}

BoxCoups{
    -fx-background-color: red;
    -fx-border-color: yellow;
}

VBox{
    -fx-background-color: green;
}

HBox{
    -fx-background-color: yellow;
}
