LabelGauche{
    -fx-border-width: 1;
    -fx-border-color: red;
}

LabelDroit{
    -fx-border-width: 1;
    -fx-border-color: red;
}

#gridPrincipale{
    -fx-max-height: 800;
    -fx-max-width: 800;
    -fx-min-height: 300;
    -fx-min-width: 300;
    -fx-grid-lines-visible: true;
    /*-fx-background-color: yellow;*/
    -fx-alignment: CENTER;
}

.black{
    -fx-background-color: black;
}

.white{
    -fx-background-color: white;
}



